*{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

html{
    scroll-behavior: smooth;
}

main{
    width:100%;
}


/*SYSTEME DE GRILLES********************************************************************************************/

/**on divise la largeur de l'écran en 12 colonnes. Chaque colonne occupe un douzième de la page**************/

/*largeur d'1 colonne*/
.col-1 {width: 8.33%;}

/*largeur de 2 colonnes*/
.col-2 {width: 16.66%;}

/*largeur de 3 colonnes*/
.col-3 {width: 25%;}

/*largeur de 4 colonnes*/
.col-4 {width: 33.33%;}

/*largeur de 5 colonnes*/
.col-5 {width: 41.66%;}

/*largeur de 6 colonnes*/
.col-6 {width: 50%;}

/*largeur de 7 colonnes*/
.col-7 {width: 58.33%;}

/*largeur de 8 colonnes*/
.col-8 {width: 66.66%;}

/*largeur de 9 colonnes*/
.col-9 {width: 75%;}

/*largeur de 10 colonnes*/
.col-10 {width: 83.33%;}

/*largeur de 11 colonnes*/
.col-11 {width: 91.66%;}

/*largeur de 12 colonnes*/
.col-12 {width: 100%;}

/**on aligne les colonnes les unes à côté des autres avec la propriété float**************/
[class*="col-"] {
    float: left;
    /*padding: 0 15px;*/
}

/**
chaque rangée de colonnes doit être enveloppée dans une div de class "row". on applique un clear:both sur chaque row afin d'annuler l'effet de float
et éviter que les éléments suivants remontent et entourent le "row"

**/

.row:after {
    content: "";
    clear: both;
    display: block;
}
body{
    margin:0;
    position:relative;
}

header{
    background-color: #fff;
    color:white;
    border: solid 1px lightgrey;
}

header{
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
/******************************************************************** INDEX **********************************************************************/

/*********************************Mobile FIRST**************************************/

/**************** HEADER **************/

.logo_mobile{
    height: 60px;
    border-right: solid 1px lightgrey;
}

.logo_mobile img{
    height:100%;
    margin: auto;
    display: block;
}

.center-hamburger{
    margin: auto;
    width: 50%;
}

#menu-hamburger{
    display: block;
    border-left: solid 1px lightgrey;
}

#menu-hamburger, .logo_mobile {
    padding:10px 0;
}
.menu-btn div span {
    width: 50px;
    height:3px;
    display:block;
    background-color:#000000;
    margin:8px;
}

.noshow, .no_show_logo_tablette, .no_show_search_header, .footer_desktop{
    display:none;
}

#menu-principal ul{
    list-style:none;
    padding:0;
    color: white;
    text-decoration:none;
    margin:0;
}

#menu-principal ul li{
    border-top:1px solid lightgrey;
    display:block;
    height:50px;
    line-height:50px;
}

#menu-principal ul li a{
    color: black;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:bold;
    width:100%;
    padding-left:5px;
    display:block;
    font-size: 12px;
}

#menu-principal ul li a:hover{
    border-left: solid red 3px;
    background-color: #f5f5f5;
    background-color: #f5f5f5;
    color: red;
    text-shadow: 1px 2px #c5c5c5;
}

#menu-principal ul li a:active{
    background-color: black;
    color:white;
}

#menu-principal ul li a:visited{
    color: grey;
}

/**************** MAIN **************/

/*BANNER ET RECHERCHE*/

#banner{
    margin-top: 62px;
    height: 400px;
    position: relative;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#banner>h1{
    position: absolute;
    top: 15%;
    color: #f53e24;
    text-align: center;
    text-shadow: 1px 2px #efefef;
    text-transform: uppercase;
    margin: auto;
    width: 100%;
}

#search{
    height: 30px;
    display: block;
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 15px;
    color: #000000;
    font-size: 14px;
    background-color: #fff;
    background-image: url("../images/search1.png");
    background-position: 10px 5px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    top: 40%;
    margin: auto;
    position: relative;
}

#search:focus {
    width: 80%;
}

#search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1; /* Firefox */
    font-style: italic;
}

#how_it_works{
    background-color: #f4f4f4;
}

#lien_fonctionnement{
    position: relative;
    width:100%;
    margin: auto;
    top: 60%;
}

#lien_fonctionnement a img{
    display: block;
    margin: auto;
}

#lien_fonctionnement h2{
    color: #f53e24;
    text-shadow: 1px 1px #efefef;
}

/*COMMENT CA MARCHE*/

.div_fonctionnement{
    padding: 60px 20px;
    width: 100%;
}

.icone_fonctionnement{
    width: 50%;
    height: 100px;
    margin: auto;
}

.icone_fonctionnement img{
    max-height: 100px;
    display: block;
    margin: auto;

}

#lien_fonctionnement h2, .div_fonctionnement h3{
    font-size: 1.25em;
    text-align: center;
}
.div_fonctionnement p{
    font-size: 1em;
    text-align: center;
}

hr{
    width:50%;
    border: 1px solid #f1c449;
}

/*SLIDER*/

#slider{
    padding: 60px 20px;
    height: 60%;
}

.slides {
    padding: 0;
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
    min-width: 350px;
    max-width: 900px;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    transform: scale(0);
    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.slide img input{
    width: 100%;
    height: 100%;
}
.slide-button{
    opacity: 0;
    width: 100%;
    height: 40px;
    display: block;
    position: absolute;
    transform: scale(0);
    transition: all .7s ease-in-out;
    text-align: center;
    padding-top: 55%;
}

.slide-button p>span{
    color: #f53e24;
    font-size: 1.15em;
}

.slide-button p{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
}

.slide-button button{
    font-size: 1em;
    font-weight: bold;
    height: 30px;
    width: 40%;
    border-radius: 15px;
    color: #fff;
    background-color:#f53e24;

}

.container_slider_aside{
    height:800px;
}
.nav{
    height: 100%;
}
.nav label {
    width: 20%;
    display: none;
    position: absolute;
    height:510px;
    opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 100pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide, input:checked + .slide-container  .slide-button {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

#fixedbutton {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10000;
}

#info_appart_slider{
    bottom:80px;
    position: absolute;
    width:100%}

.hr_sliders{
    width: 100%;
}

#asideIndex{
    margin: 20px 0;
    padding: 40px 40px;
}

/**************** FORMULAIRE **************/

#formulaire{
    padding: 30px 5%;
}

#titreContact{
    padding-bottom: 30px;
    color: #f53e24;
    text-align: center;
    text-shadow: 1px 2px #000000;
    margin: 80px auto auto auto;
    width: 100%;
    font-size: 40px;
}

.formGauche{
    margin-bottom: 30px;
    opacity: 0;
    animation: anim 1s linear forwards;
}

.formDroit{
    margin-bottom: 30px;
    opacity: 0;
    animation: anim 2s linear forwards;
}

.area{
    padding:0 0 30px;
    opacity: 0;
    animation: anim 3s linear forwards;
}

@keyframes anim {
    0%  {opacity:0;}
    50%{opacity:0;}
    100% {opacity:1;}
}

.champFormulaire p{
    display:inline-block;
}

.titreChampFormulaire{
    display: block;
    color: #f53e24;
    text-shadow: 1px 2px #000000;
    font-size: 30px;
    margin-bottom: 20px;
}

.radioLabel, .checkboxLabel{
    display: inline-block;
    text-shadow: none;
    font-size: 20px;
}

.inputText{
    width: 100%;
    height: 70px;
    font-size: 20px;
    margin: auto;
    display: block;
    border-radius: 20px;
    border: 1px solid #f53e24;
    box-shadow: 2px 2px 5px #f53e24;
}

.inputText:focus{
    box-shadow: 2px 2px 5px inset #f53e24;
}

input[type=radio] {
    border: 0px;
    width: 30px;
    height: 30px;
}

input[type=checkbox] {
    border: 0px;
    width: 30px;
    height: 30px;
}

.conteneurNationnalite{
    display: flex;
    wrap:nowrap;
}

.conteneurNationnalite div{
    flex:1;
    display:flex;
    flex-wrap: nowrap;
}

.datalistPays{
    width:40px;
}

#requeteClient{
    width:100%;
    height: 200px;
    resize: none;
    border-radius: 20px;
    border: 1px solid #f53e24;
    box-shadow: 2px 2px 5px #f53e24;
}

#soumettre{
    background-color: #f53e24;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: auto;
    width: 100px;
    border-radius: 20px;
}

#map-contact{
    filter: grayscale(100%);
    height: 400px;
    width: 100%;
    padding:0;
}


/*****************CATALOGUE*****************/


#tri{
    text-align: center;
}

#tri ul{
    list-style:none;
    text-decoration: none;
    padding:0;
    height: 30px;
}

#tri ul li{
    display: inline-block;
    margin: 0 30px;
}

#tri ul li a{
    text-decoration: none;
    text-align: center;
    padding:10px;
    height: 100%;
    border: 1px solid #f53e24;
    border-radius: 20px;
    background-color: lightgray;
    color: black;
    font-weight: bold;
}

#tri ul li a:hover{
    background-color: black;
    color: white;
}

#tri ul li a:active{
    background-color: #f53e24;
    border-color: black;
    color: grey;
}

.voir-produit{
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    padding:10px;
    border-radius: 15px;
    color: #fff;
    background-color:#f53e24;
}

#appartements{
    margin:10%;
    display: none;
}

#appartements:target{
    display:block;
    animation: opacityOn 2s;
}

#maisons{
    margin:10%;
    display: none;
}
@keyframes opacityOn {
    0%  {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity:1;}
}


#maisons:target{
    display:block;
    animation: opacityOn 2s;
}

.div-produit{
    padding: 30px;
    margin-bottom: 50px;
    border:2px solid #f53e24;
    box-shadow: 4px 4px 6px #f53e24;
    background-color: lightgrey;
    border-radius: 20px;
}



.img-produit-catalogue{
    width:100%;
    height:auto;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 4px 4px 6px black;
}

.description-prod-catalogue{
    text-align: center;
}


.description-prod-catalogue h3{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
    color: black;
}




/**************** PAGE PRODUIT **************/


/*SLIDER PRODUITS*/

#wrapper_pdt{
    min-height: 1140px;
    width: 100%;
}

.container_pdt {
    display: flex;
    justify-content: center;
    padding: 60px 20px;
}

.thumbnails {
    display: flex;
    flex-direction: column;
    line-height: 0;
    padding:0;
    list-style:none;
    position: relative;

}
.thumbnails ul li {
    flex: auto;
}

.thumbnails a {
    display: block;
}

.thumbnails img {
    width: 20vmin;
    height: 20vmin;
    object-fit: cover;
    object-position: top;
}

.thumbnails img:nth-child(1) {
    z-index: 5;
}
.thumbnails img:nth-child(2) {
    z-index: 4;
}
.thumbnails img:nth-child(3) {
    z-index: 3;
}

.slides_pdt {
    overflow: hidden;
    width: 60vmin;
    height: 60vmin;
    list-style:none;
    position: relative;
    padding: 0;
}

.slides_pdt li {
    width: 60vmin;
    height: 60vmin;
    position: absolute;
    z-index: 1;
    list-style:none;
    top: 0;
}

.slides_pdt img {
    width: 100%;
    height: 60vmin;
    object-fit: cover;
    object-position: top;
}

.slides_pdt li:target {
    z-index: 6;
    -webkit-animation: slide_pdt 1s 1;
}

.slides_pdt li:not(:target) {
    -webkit-animation: hidden_imgPdt 1s 1;
}

@keyframes slide_pdt {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes hidden_imgPdt {
    0% {
        z-index: 2;
    }
    100% {
        z-index: 2;
    }
}

/*TABS*/

.tabs {
    position: relative;
    min-height: 600px;
    clear: right;
    background: white;
    top: 120px;
}

.tab {
    float: left;
}

.tab:first-of-type{
    margin-left: 20px;
}

.tab label {
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
    top: -29px;
    -webkit-transition: background-color .17s linear;
}

.tab [type=radio] {
    display: none;
}
.content_tab {
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc;
    -webkit-transition: opacity .6s linear;
    opacity: 0;
    margin: 0 20px;
    background-color: #eeeeee;
}

[type=radio]:checked ~ label {
    background: #eeeeee;
    border-bottom: 1px solid white;
    z-index: 2;
}

[type=radio]:checked ~ label ~ .content_tab {
    z-index: 1;
    opacity: 1;
}

.tabs video {
    width:100%;
}

/**************** FOOTER **************/

.collapsible {
    background-color: #000000;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px lightgrey solid;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0;
    display: none;
    overflow: hidden;
    color: #000;
    background-color: #f1f1f1;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

.social_media{
    padding: 20px;
}

.social_media img{
    width: 100%;
}

footer #footer_mobile_tablette{
    border: none;

}
footer #footer_mobile_tablette div ul{
    list-style:none;
    padding:0;
    color: white;
    text-decoration:none;
    margin:0;
}

footer #footer_mobile_tablette div ul li{
    border-top:1px solid lightgrey;
    display:block;
    width: 100%;
    height:50px;
    line-height:50px;
    color:black;
}

footer #footer_mobile_tablette div ul li a{
    color: black;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:bold;
    width:100%;
    padding-left:5px;
    display:block;
    font-size: 12px;
}

footer #footer_mobile_tablette div ul li a:hover{
    border-left: solid red 3px;
    background-color: #d6d6d6;
    color: red;
    text-shadow: 1px 2px #c5c5c5;
}

#credits{
    color:black;
    text-align: center;
    font-size: 10px;
}




/********************************************************************FORMAT TABLETTE**********************************************************************/

@media (min-width: 768px){
    #menu-hamburger{
        display: none;
    }

    .noshow{
        display:block;
    }
    .col-m-1 {width: 8.33%;}

    /*largeur de 2 colonnes*/
    .col-m-2 {width: 16.66%;}

    /*largeur de 3 colonnes*/
    .col-m-3 {width: 25%;}

    /*largeur de 4 colonnes*/
    .col-m-4 {width: 33.33%;}

    /*largeur de 5 colonnes*/
    .col-m-5 {width: 41.66%;}

    /*largeur de 6 colonnes*/
    .col-m-6 {width: 50%;}

    /*largeur de 7 colonnes*/
    .col-m-7 {width: 58.33%;}

    /*largeur de 8 colonnes*/
    .col-m-8 {width: 66.66%;}

    /*largeur de 9 colonnes*/
    .col-m-9 {width: 75%;}

    /*largeur de 10 colonnes*/
    .col-m-10 {width: 83.33%;}

    /*largeur de 11 colonnes*/
    .col-m-11 {width: 91.66%;}

    /*largeur de 12 colonnes*/
    .col-m-12 {width: 100%;}

    .logo_mobile{
        display: none;
    }

    .no_show_logo_tablette{
        display: block;
        height: 60px;
        border: none;
    }

    .no_show_logo_tablette img{
        height:100%;
        margin: auto;
        display: block;
    }

    .no_show_search_header{
        display: block;
        border: none;
    }

    .search_header{
        width:70%;
        height: 17px;
        display: block;
        border: 1px solid #ccc;
        border-radius: 14px;
        color: #000000;
        font-size: 14px;
        background-color: #fff;
        background-image: url("../images/search1.png");
        background-position: 10px 5px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        margin: auto auto;
    }

    #menu-principal ul li:first-of-type{
        display: flex;
    }
    #menu-principal ul li{
        text-align: center;
        line-height: 60px;
        padding: 0;
    }

    #menu-principal ul li a{
        font-size: 16px;
    }

    /*MAIN*/
    #banner{
        height: 95vh;
    }


    hr{
        /*width: 1px;*/
        /*height: 200px;*/
        /*margin: 0;*/
        display: none;
    }

    #banner>h1{
        font-size: 60px;
        padding: 0 20px;
        top: 25%;
    }

    #search{
        height: 40px;
        font-size: 16px;
        top: 50%;
    }

    #lien_fonctionnement{
        top:75%;
    }

    #lien_fonctionnement h2{
        font-size: 30px;
    }

    .div_fonctionnement{
        padding: 120px 40px;
    }

    .div_fonctionnement p{
        font-size: 1.25em;
    }

    .div_fonctionnement h3{
        font-size: 1.5em;
    }

    /**************FORMULAIRE*************/
    .formGauche{
        padding-right: 10%;
    }
    .formDroit{
        padding-left: 10%;
    }

    .inputText {
        width: 100%;
        height: 40px;
        font-size: 18px;
        margin: auto;
        display: block;
        border-radius: 20px;
        border: 1px solid #f53e24;
        box-shadow: 2px 2px 5px #f53e24;
    }



    /*************CATALOGUE*************/

    .div-produit-conteneur{
        padding:20px;
        transition-duration: 0.5s ;
        transition-timing-function: linear;
    }

    .div-produit-conteneur:hover{
        transform: scale(1.25);
    }

    .div-produit {
        padding: 15px;
    }

    #appartements, #maisons{
        margin: 0;
    }

    .voir-produit{
        margin-bottom: 10px;
    }

    /*PAGE PRODUIT*/

    #wrapper_pdt{
        min-height: 1300px;
    }

    .tabs {
        min-height: 500px;
    }

    /*FOOTER*/
    .collapsible{
        font-size: 18px;
        text-align: center;
    }


    footer #footer_mobile_tablette div ul li a{
        text-align: center;
        font-size: 14px;
    }

    #credits{
        font-size: 13px;
    }

    #hr_slider{
        display:block;
        margin: 40px 20px;
        width:1px;
        height: 500px;
        border: 1px solid #f1c449;
    }

    .container_slider_aside{
        height:80%;
    }

}

/***********************************************************FORMAT DESKTOP************************************************************/

@media (min-width: 992px){

    #lien_fonctionnement{
        top: 70%;
    }

    .container_slider_aside {
        height: 700px;
    }

    #footer_mobile_tablette{
        display:none;
    }
    .footer_desktop{
        display: block;
        background-color: black;
    }
    .footer_desktop div ul li{
        padding-left: 20%;
        display:block;
        height:35px;
        width:100%;
        color: white;
        font-weight:bold;
        font-size: 14px;
    }
    .footer_desktop div ul li a{
        color: white;
        text-decoration:none;
        text-transform:uppercase;
        font-weight:bold;
        width:100%;
        font-size: 14px;
    }

    .footer_desktop div ul {
        padding:0;
        list-style: none;

    }

    /*largeur d'1 colonne*/
    .col-lg-1 {width: 8.33%;}

    /*largeur de 2 colonnes*/
    .col-lg-2 {width: 16.66%;}

    /*largeur de 3 colonnes*/
    .col-lg-3 {width: 25%;}

    /*largeur de 4 colonnes*/
    .col-lg-4 {width: 33.33%;}

    /*largeur de 5 colonnes*/
    .col-lg-5 {width: 41.66%;}

    /*largeur de 6 colonnes*/
    .col-lg-6 {width: 50%;}

    /*largeur de 7 colonnes*/
    .col-lg-7 {width: 58.33%;}

    /*largeur de 8 colonnes*/
    .col-lg-8 {width: 66.66%;}

    /*largeur de 9 colonnes*/
    .col-lg-9 {width: 75%;}

    /*largeur de 10 colonnes*/
    .col-lg-10 {width: 83.33%;}

    /*largeur de 11 colonnes*/
    .col-lg-11 {width: 91.66%;}

    /*largeur de 12 colonnes*/
    .col-lg-12 {width: 100%;}


    h4{
        text-align: center;
        font-size:30px;
        margin: 20px 0;
        color: white;
    }
    .container_footer{
        padding:10px 40px;
        border-right: 1px solid white;
    }

    /****************FORMULAIRE*****************/
    .formGauche{
        padding-right:10%;
    }

    #map-contact{
        height: 400px;
        padding-right: 40px;
    }

    .datalistPays{
        width:50px;
    }

    .inputText:focus{
        background-color: rgba(245,62,36,0.2);
    }

    /****************PAGE PRODUIT*****************/

    #wrapper_pdt{
        min-height: 675px;
    }
    .tabs{
        min-height: 500px;
    }


    .div-produit-conteneur{
        height: 450px;
        margin-bottom: 20px;
    }

    .description-prod-catalogue h3{
        height: 50px;
        line-height: 25px;
    }

    /***************FOOTER*****************/

}