*{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/*SYSTEME DE GRILLES********************************************************************************************/

/**on divise la largeur de l'écran en 12 colonnes. Chaque colonne occupe un douzième de la page**************/

/*largeur d'1 colonne*/
.col-1 {width: 8.33%;}

/*largeur de 2 colonnes*/
.col-2 {width: 16.66%;}

/*largeur de 3 colonnes*/
.col-3 {width: 25%;}

/*largeur de 4 colonnes*/
.col-4 {width: 33.33%;}

/*largeur de 5 colonnes*/
.col-5 {width: 41.66%;}

/*largeur de 6 colonnes*/
.col-6 {width: 50%;}

/*largeur de 7 colonnes*/
.col-7 {width: 58.33%;}

/*largeur de 8 colonnes*/
.col-8 {width: 66.66%;}

/*largeur de 9 colonnes*/
.col-9 {width: 75%;}

/*largeur de 10 colonnes*/
.col-10 {width: 83.33%;}

/*largeur de 11 colonnes*/
.col-11 {width: 91.66%;}

/*largeur de 12 colonnes*/
.col-12 {width: 100%;}

/**on aligne les colonnes les unes à côté des autres avec la propriété float**************/
[class*="col-"] {
    float: left;
    /*padding: 0 15px;*/
}

/**
chaque rangée de colonnes doit être enveloppée dans une div de class "row". on applique un clear:both sur chaque row afin d'annuler l'effet de float
et éviter que les éléments suivants remontent et entourent le "row"

**/



.row:after {
    content: "";
    clear: both;
    display: block;
}
body{
    margin:0;
}

header, footer{
    background-color: #fff;
    color:white;
    border: solid 1px lightgrey;
}


/*Mobile FIRST*/

/**************** HEADER **************/

.logo{
    height: 60px;
    border-right: solid 1px lightgrey;
}

.logo img{
    height:100%;
    margin: auto;
    display: block;
}

.center-hamburger{
    margin: auto;
    width: 50%;
}

#menu-hamburger{
    display: block;
    border-left: solid 1px lightgrey;
}

#menu-hamburger, .logo {
    padding:10px 0;
}
.menu-btn div span {
    width: 50px;
    height:3px;
    display:block;
    background-color:#000000;
    margin:8px;
}

.noshow{
    display:none;
}

nav ul{
    list-style:none;
    padding:0;
    color: white;
    text-decoration:none;
    margin:0;
}

nav ul li{
    border-top:1px solid lightgrey;
    display:block;
    height:50px;
    width: 100%;
    line-height:50px;
}

nav ul li a{
    color: black;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:bold;
    width:100%;
    padding-left:5px;
    display:block;
    font-size: 12px;
}

nav ul li a:hover{
    border-left: solid red 3px;
    background-color: #f5f5f5;
    color: red;
    text-shadow: 1px 2px #c5c5c5;
}

/**************** MAIN **************/

/*BANNER ET RECHERCHE*/

#banner{
    height: 300px;
    position: relative;
    background-image: url("../images/banner.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

h1{
    position: absolute;
    top: 30px;
    color: #f53e24;
    text-align: center;
    text-shadow: 1px 2px #efefef;
    text-transform: uppercase;
    margin: auto;
    width: 100%;
}

#search{
    height: 30px;
    display: block;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 15px;
    color: #000000;
    font-size: 14px;
    background-color: #fff;
    background-image: url("../images/search1.png");
    background-position: 10px 5px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    top: 150px;
    margin: auto;
    position: relative;
}

#search:focus {
    width: 80%;
}

#search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1; /* Firefox */
    font-style: italic;
}

#lien_fonctionnement{
    position: relative;
    width:100%;
    margin: auto;
    top: 180px;
}

#lien_fonctionnement a img{
    display: block;
    margin: auto;
}

#lien_fonctionnement h2{
    color: #f53e24;
    text-shadow: 1px 1px #efefef;
}

/*COMMENT CA MARCHE*/

.div_fonctionnement{
    padding: 30px 20px;
    width: 100%;
}

.icone_fonctionnement{
    width: 50%;
    height: 100px;
    margin: auto;
}

.icone_fonctionnement img{
    max-height: 100px;
    display: block;
    margin: auto;

}

h2, h3{
    font-size: 1em;
    text-align: center;
}
.div_fonctionnement p{
    font-size: 0.80em;
    text-align: center;
}

hr{
    width:50%;
    border: 1px solid #f1c449;
}

/**************** FOOTER **************/

.collapsible {
    background-color: #000000;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px lightgrey solid;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0;
    display: none;
    overflow: hidden;
    color: #000;
    background-color: #f1f1f1;
    height: auto;
    justify-content: space-between;
    align-items: center;

}

.social_media{
    padding: 20px;
}

.social_media img{
    width: 100%;
}


footer div ul{
    list-style:none;
    padding:0;
    color: white;
    text-decoration:none;
    margin:0;
}

footer div ul li{
    border-top:1px solid lightgrey;
    display:block;
    height:50px;
    width: 100%;
    line-height:50px;
}

footer div ul li a{
    color: black;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:bold;
    width:100%;
    padding-left:5px;
    display:block;
    font-size: 12px;
}

footer div ul li a:hover{
    border-left: solid red 3px;
    background-color: #f5f5f5;
    color: red;
    text-shadow: 1px 2px #c5c5c5;
}



#credits{
    color:black;
    text-align: center;
    font-size: 9px;
}
